
@{
    ViewData["Title"] = "Event Not Found";
}

<h1>OOPS!</h1>
<p>It looks like that the event you are looking for is unavailable.</p>
<p>You can just <a asp-controller="BookEvent" asp-action="CreateEvent" class="text-info">create a new event</a>.</p>

